body {
	margin: 0;
	font-family: 'Overpass', sans-serif;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	height: 1080px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: 100% 1080px;
	margin: 0;
}

.menu_up {
	display: flex;
	width: 100%;
	height: 150px;
}

.menu_up_photo {
	margin-top: 20px;
	display: block;
	width: 168px;
	height: 125px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 168px 125px;
}

.menu_up_els {
	display: flex;
	width: 70%;
	height: 150px;
	margin: auto;
}

.menu_up_el {
	display: flex;
	flex-direction: column;
	margin: auto;
	position: relative;
	height: 158px;
	width: 13%;
}

.menu_up_link {
	color: #EEEEEE;
	text-decoration: none;
	font-weight: 600;
	font-size: 25px;
	margin-top: 60px;
	text-align: center;
}

.menu_up_indicator {
	display: table-cell;
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	transition: 0.3s;
	margin: auto;
	text-align: center;
}

.menu_up_el:hover .menu_up_indicator{
	background-color: #4070FF;
}

.menu_up_icons_els {
	width: 20%;
	margin: auto;
	display: flex;
}

.face_icon {
	display: block;
	background-image: url(../img/facebook.png);
	width: 75px;
	height: 75px;
	background-size: 75px 75px;
}
.snap_icon {
	display: block;
	background-image: url(../img/snapchat.png);
	width: 75px;
	height: 75px;
	background-size: 75px 75px;
}
.whatsapp_icon {
	display: block;
	background-image: url(../img/whatsapp.png);
	width: 75px;
	height: 75px;
	background-size: 75px 75px;
}
.youtube_icon {
	display: block;
	background-image: url(../img/youtube.png);
	width: 75px;
	height: 75px;
	background-size: 75px 75px;
}

.menu_up_icon_link:hover {
	transform: rotate(360deg);
	transition: 0.5s;
}

.h1_up {
	color: #EEEEEE;
	text-align: center;
	font-size: 160px;
	margin-top: 200px;
}

.scroll_down_up {
	display: flex;
	flex-direction: column;
	width: 150px;
	height: 250px;
	margin: auto;
}

.h5_scroll_down_up {
	text-align: center;
	color: #EEEEEE;
	font-size: 20px;
}

.btn_scroll_down_up {
	margin: auto;
	display: block;
	width: 112px;
	height: 112px;
	border-radius: 50%;
	border: 2px solid #EEEEEE;
}

i {
    border: solid #EEEEEE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.btn_arrow_scroll_down_up {
	position: relative;
	top: 25px;
	display: block;
	width: 35px;
	height: 35px;
	margin: auto;
    transform: rotate(45deg);
    transition: 0.5s;
}

.btn_scroll_down_up:hover .btn_arrow_scroll_down_up {
	transform: rotate(405deg);
}


main {
	margin: 0;
	width: 100%;
	height: 15000px;
}

.w_block {
	background-color: #11749E;
	width: 100%;
	height: 750px;
}

.h2_wb_block {
	position: relative;
	text-align: center;
	top: 250px;
	color: #EEEEEE;
	font-size: 75px;
	padding: 0;
	margin: 0;
}

